:root{
    --fuente-principal: Arial, Helvetica, sans-serif;
    --fuente-titulos: "Times New Roman", serif;
    /*color de letra de la cabecera*/
    --color-letra-hr: #8b1538;
    /*color de la letra de los títulos*/
    --color-letra-t: hsl(53, 55%, 47%);
    /*color letra principal*/
    --color-letra-p: black;
    /*color letra secundaria*/
    --color-letra-s: white;
    /*posición párrafos*/
    --posicion-p: justify;
    /*posición títulos*/
    --posicion-t: center;
}

header{
    color: var(--color-letra-hr);
    text-align: var(--posicion-t);
    font-size: 3rem;
    font-family: var(--fuente-titulos);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 40px;
    background: var(--color-letra-s);
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    font-family: var(--fuente-titulos);
}

.menu > a{
    text-decoration: none;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 0;
}

.menu h2{
    font-size: 1.5rem;
    line-height: 1;
    color: var(--color-letra-hr);
    margin: 0;
}

.menu p{
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-letra-p);
    font-family: var(--fuente-principal);
}

.pags{
    display:flex; 
    flex-wrap: nowrap; 
    gap: 2rem;
    align-items: end;
}

.pag{
    position: relative; 
    font-size: 1rem;
    color: var(--color-letra-p);
    padding: 0.25em;
    text-decoration: none;
    font-family: var(--fuente-principal);
}

.pag.activo{
    color: var(--color-letra-hr);

}

.pag::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-letra-t);
    transition: width 0.25s ease;
}

.pag:hover::after {
    width: 100%;
}

.pag.activo::after {
    width: 100%;
}

.pag:hover{
    color: var(--color-letra-hr);
}

.sub{
    color: var(--color-letra-p);
    font-size: 0.5em;
    font-family: var(--fuente-principal);
}

main{
    text-align: var(--posicion-p);
    font-family: var(--fuente-principal);
    color: var(--color-letra-p)
}

.secciones{
    display:flex; 
    flex-wrap: wrap; 
    justify-content: var(--posicion-t); 
    gap: 0.05em;
}

.caja{
    text-decoration: none;
    background-color: var(--color-letra-hr);  
    padding: 1rem; 
    margin: 0.25rem;
    color: var(--color-letra-s)
}

h2{
    text-align: var(--posicion-t);
    color: var(--color-letra-t);
}

img{
    border: 3px solid var(--color-letra-hr); 
    display: block; 
    margin: auto; 
    width: 30%;
    height: 300px;
}

iframe{
    border: 3px solid var(--color-letra-t); 
    margin:20px auto; 
    display: block;
    width: 50%;
    height: 400px;
}