   
   /* PARTE DE TODOS LOS ARCHIVOS CSS PARA QUE SE APLIQUEN EN TODAS LAS PÁGINAS */
   
   
   /*Para que el menú no se corte por la derecha*/
*{
    box-sizing: border-box;
}
:root{
    --fuente-principal: Arial, Helvetica, sans-serif;
    --fuente-titulos: "Times New Roman", serif;
    /*color de letra de la cabecera*/
    --color-letra-hr: #8b1538;
    /*color de la letra de los títulos*/
    --color-letra-t: hsl(53, 55%, 47%);
    /*color letra principal*/
    --color-letra-p: black;
    /*color letra secundaria*/
    --color-letra-s: white;
    /*posición párrafos*/
    --posicion-p: justify;
    /*posición títulos*/
    --posicion-t: center;
}

header{
    color: var(--color-letra-hr);
    text-align: var(--posicion-t);
    font-size: 3rem;
    font-family: var(--fuente-titulos);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 40px;
    background: var(--color-letra-s);
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    font-family: var(--fuente-titulos);
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
    width: 100%;
}

.menu > a{
    text-decoration: none;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 0;
}

.menu h2{
    font-size: 1.5rem;
    line-height: 1;
    color: var(--color-letra-hr);
    margin: 0;
}

.menu p{
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-letra-p);
    font-family: var(--fuente-principal);
}

.pags{
    display:flex; 
    flex-wrap: nowrap; 
    gap: 2rem;
    align-items: end;
}

.pag{
    position: relative; 
    font-size: 1rem;
    color: var(--color-letra-p);
    padding: 0.25em;
    text-decoration: none;
    font-family: var(--fuente-principal);
}

.pag.activo{
    color: var(--color-letra-hr);

}

.pag::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-letra-t);
    transition: width 0.25s ease;
}

.pag:hover::after {
    width: 100%;
}

.pag.activo::after {
    width: 100%;
}

.pag:hover{
    color: var(--color-letra-hr);
}

.sub{
    color: var(--color-letra-p);
    font-size: 0.5em;
    font-family: var(--fuente-principal);
}

main{
    text-align: var(--posicion-p);
    font-family: var(--fuente-principal);
    color: var(--color-letra-p)
}

.secciones{
    display:flex; 
    flex-wrap: wrap; 
    justify-content: var(--posicion-t); 
    gap: 0.05em;
}

.caja{
    text-decoration: none;
    background-color: var(--color-letra-hr);  
    padding: 1rem; 
    margin: 0.25rem;
    color: var(--color-letra-s)
}

h2{
    text-align: var(--posicion-t);
    color: var(--color-letra-t);
}

img{
    border: 3px solid var(--color-letra-hr); 
    display: block; 
    margin: auto; 
    width: 30%;
    height: 300px;
}

iframe{
    border: 3px solid var(--color-letra-t); 
    margin:20px auto; 
    display: block;
    width: 50%;
    height: 400px;
}

.contenedorEvento{
    display:flex;
    max-width: 75em;
    margin:3.75em auto ;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    border:0.1em solid #7a1c32;
    transition:box-shadow 0.3 ease;
}

.contenedorEvento:hover{
    box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.3);
    transform: translateY(-0.05em) scale(1.02);
}

.imgEvento{
    flex: 1;
    min-height: 22em;
}

.imgEvento img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.textoEvento{
    flex:1;
    padding:3.75em;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.tituloEvento{
    font-size: 2.3rem;
    color:#7a1c32;
    margin-bottom: 1.25em;
}

.descripcionEvento{
    line-height: 1.6;
    color: #444;
}

/* PARTE DE BACHIR */

.Historia{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Historia_card{
    display:flex;
    gap: 20px;
    background-color: #fff;
    border-radius: 15px;
    overflow:hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.Historia_texto{
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.Historia_minitit{
    font-weight: bold;
    color: #ff6a5c;
    font-size:1.2rem;
}
.Historia_card img{
    width: 300px;
    height: 100%;
    object-fit: cover;
}
.Historia p{
    margin-top: 10px;
    font-size:1.1rem;
}
.Historia_I:nth-child(even) .Historia_card{
    flex-direction: row-reverse;
}
.Historia_I{
    margin-bottom: 25px;
}
.Historia_I p{
    margin-top: 10px;
    font-size:1.1rem;
}
.Actos{
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}
.Actos h2{
  margin: 20px auto;
  max-width: 700px;
  font-size:1.1rem;
}
.Actos_I{
    display:flex;
    gap: 20px;
    flex-wrap:wrap;
    justify-content: center;
}
.Acto_card{
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 25px 20px;
    transition: transform 0.3s ease;
}
.Acto_card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.Acto_card h3{
    margin-bottom: 15px;
    color: var(--color-letra-hr);
    font-size: 1.1rem;
}

.Acto_card img{
    width:100%;
    height:150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
h1 {
    background-image: url('img/fondo_titulo.jpg');
    padding: 40px 20px;
    text-align: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat      
} 
