:root{
    --fuente-principal: Arial, Helvetica, sans-serif;
    /*color de letra de la cabecera y color del fondo de la cabecera*/
    --color-letra-hr: rgb(255, 255, 255);
    --fondo-hr: hsl(0, 0%, 0%);
    /*posición párrafos*/
    --posicion-p: justify;
    /*posición títulos*/
    --posicion-t: center;
}

header{
    background-color: var(--fondo-hr);
    color: var(--color-letra-hr);
    text-align: var(--posicion-t);
    font-size: 3rem;
    font-family: var(--fuente-principal);
}

main{
    text-align: var(--posicion-p);
    font-family: var(--fuente-principal);
}

